<h2>Questions</h2>
<%= render partial: "partials/items", locals: {items: @questions} %>
<div class="ca-items-footer">
  <%= link_to 'New Question', new_question_path, class: "ca-button grow"  %>
</div>
