<summary>
  Next Steps arethe place you record what you need to do next.
</summary>
<%= render partial: "partials/items", locals: {items: @next_steps, item_type: "Next Steps"} %>
<div class="ca-items-footer">
  <%= link_to 'Next Step', new_next_step_path, class: "ca-button grow"  %>
</div>
