<summary>
  Creative actions are anything you do where there is flow or creativity involved. 
  By no means just creative pursuits – no – you want to record more daily and nuanced creative experiences. 
  Maybe you played an interesting role in a conversation. This can be cooking, or sketching, or full on pursuit. 
  If you were to take a day and break is down, a creative action is any activity where creativity played a role, 
  where you brough mindful creative intent.
</summary>
<%= render partial: "partials/items", locals: {items: @creative_actions, item_type: "Creative Actions"} %>
<div class="ca-items-footer">
  <%= link_to 'New Action', new_creative_action_path, class: "ca-button grow"  %>
</div>
