@-webkit-keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
            transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
            transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
            transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0); } }

@keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
            transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
            transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
            transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
            transform: matrix(1, 0, 0, 1, 0, 0); } }

.medium-editor-anchor-preview {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden;
  z-index: 2000; }
  .medium-editor-anchor-preview a {
    color: #fff;
    display: inline-block;
    margin: 5px 5px 10px; }

.medium-editor-anchor-preview-active {
  visibility: visible; }

.medium-editor-dragover {
  background: #ddd; }

.medium-editor-image-loading {
  -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
          animation: medium-editor-image-loading 1s infinite ease-in-out;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  width: 40px; }

.medium-editor-placeholder {
  position: relative; }
  .medium-editor-placeholder:after {
    content: attr(data-placeholder) !important;
    font-style: italic;
    position: absolute;
    left: 0;
    top: 0;
    white-space: pre;
    padding: inherit;
    margin: inherit; }

.medium-editor-placeholder-relative {
  position: relative; }
  .medium-editor-placeholder-relative:after {
    content: attr(data-placeholder) !important;
    font-style: italic;
    position: relative;
    white-space: pre;
    padding: inherit;
    margin: inherit; }

.medium-toolbar-arrow-under:after, .medium-toolbar-arrow-over:before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0; }

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px; }

.medium-toolbar-arrow-over:before {
  border-width: 0 8px 8px 8px;
  top: -8px; }

.medium-editor-toolbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2000; }
  .medium-editor-toolbar ul {
    margin: 0;
    padding: 0; }
  .medium-editor-toolbar li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    .medium-editor-toolbar li button {
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      font-size: 14px;
      line-height: 1.33;
      margin: 0;
      padding: 15px;
      text-decoration: none; }
      .medium-editor-toolbar li button:focus {
        outline: none; }
    .medium-editor-toolbar li .medium-editor-action-underline {
      text-decoration: underline; }
    .medium-editor-toolbar li .medium-editor-action-pre {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 12px;
      font-weight: 100;
      padding: 15px 0; }

.medium-editor-toolbar-active {
  visibility: visible; }

.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px; }

.medium-editor-relative-toolbar {
  position: relative; }

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
          animation: medium-editor-pop-upwards 160ms forwards linear; }

.medium-editor-action-bold {
  font-weight: bolder; }

.medium-editor-action-italic {
  font-style: italic; }

.medium-editor-toolbar-form {
  display: none; }
  .medium-editor-toolbar-form input,
  .medium-editor-toolbar-form a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .medium-editor-toolbar-form .medium-editor-toolbar-form-row {
    line-height: 14px;
    margin-left: 5px;
    padding-bottom: 5px; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input,
  .medium-editor-toolbar-form label {
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 6px;
    width: 316px;
    display: inline-block; }
    .medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
    .medium-editor-toolbar-form label:focus {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      border: none;
      box-shadow: none;
      outline: 0; }
  .medium-editor-toolbar-form a {
    display: inline-block;
    font-size: 24px;
    font-weight: bolder;
    margin: 0 10px;
    text-decoration: none; }

.medium-editor-toolbar-form-active {
  display: block; }

.medium-editor-toolbar-actions:after {
  clear: both;
  content: "";
  display: table; }

.medium-editor-element {
  word-wrap: break-word;
  min-height: 30px; }
  .medium-editor-element img {
    max-width: 100%; }
  .medium-editor-element sub {
    vertical-align: sub; }
  .medium-editor-element sup {
    vertical-align: super; }

.medium-editor-hidden {
  display: none; }
.medium-toolbar-arrow-under:after {
  top: 60px;
  border-color: #57ad68 transparent transparent transparent; }

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent #57ad68 transparent; }

.medium-editor-toolbar {
  background-color: #57ad68; }
  .medium-editor-toolbar li {
    padding: 0; }
    .medium-editor-toolbar li button {
      min-width: 60px;
      height: 60px;
      border: none;
      border-right: 1px solid #9ccea6;
      background-color: transparent;
      color: #fff;
      -webkit-transition: background-color .2s ease-in, color .2s ease-in;
              transition: background-color .2s ease-in, color .2s ease-in; }
      .medium-editor-toolbar li button:hover {
        background-color: #346a3f;
        color: #fff; }
    .medium-editor-toolbar li .medium-editor-button-active {
      background-color: #23482a;
      color: #fff; }
    .medium-editor-toolbar li .medium-editor-button-last {
      border-right: none; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  height: 60px;
  background: #57ad68;
  color: #fff; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #57ad68;
  color: #fff; }

.medium-editor-placeholder:after {
  color: #9ccea6; }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *




 */
/* app specific stuff */
/* line 53, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.steel {
  color: #6c9fa1;
}

/* line 54, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.beige {
  color: #ffe39f;
}

/* line 55, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.blue {
  color: #106BA3;
}

/* line 56, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.red {
  color: #9e2b0e;
}

/* line 58, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.darkgrey1 {
  color: #182026;
}

/* line 59, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.darkgrey2 {
  color: #202B33;
}

/* line 60, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.darkgrey3 {
  color: #293742;
}

/* line 62, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.lightgrey1 {
  color: #CED9E0;
}

/* line 63, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.lightgrey2 {
  color: #E1E8ED;
}

/* line 64, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.lightgrey3 {
  color: #F5F8FA;
}

/* line 66, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.hide {
  display: none;
}

/* line 69, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.text-left {
  text-align: left;
}

/* line 72, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.text-right {
  text-align: right;
}

/* line 75, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
  color: #aaa;
}

/* line 80, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
body {
  font-size: 16px;
  background: #caceca;
}

/* line 85, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
table {
  margin: 3rem;
  background: #ddd;
}

/* line 89, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
th, td {
  padding: 10px;
  background: #F5F8FA;
}

/* line 93, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
h1 {
  padding: 0 2rem;
  font-size: 26px;
}

/* line 97, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
h2 {
  font-family: "Montserrat";
  color: #aaa;
  margin: 0;
}

/* line 102, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
h5 {
  color: #999;
}

/* line 105, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
header {
  padding: 10px;
}

/* line 108, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
summary {
  background: #f3f3f3;
  color: #aaa;
  padding: 15px 3rem;
}

/* line 114, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
label {
  color: #777;
  margin-right: 20px;
}

/* line 118, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
article {
  background: #fff;
  border: solid 25px #f5f5f5;
  padding: 0;
  margin: 60px 0;
  min-height: 80vh;
}

/* line 126, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
blockquote {
  background: #f5f5f5;
  padding: 1rem 3rem;
  color: #636363;
  margin: 0;
  line-height: 162%;
  margin: 20px 68px;
  font-family: sans-serif;
  clear: both;
  font-weight: 100;
}

/* line 137, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
b, strong {
  font-weight: bold;
}

/* line 140, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
form {
  color: #333;
  margin: 0px 3rem 60px;
}
/* line 143, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
form label {
  border-bottom: solid 1px #aaa;
  display: block;
  margin: 10px 0;
  padding-bottom: 7px;
}
/* line 149, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
form input[type="text"] {
  padding: 15px;
  border: none;
  border-radius: .1rem;
  width: 100%;
  background: #eee;
  color: #444;
  font-size: 1.5rem;
  font-weight: bold;
}
/* line 158, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
form input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}
/* line 163, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
form textarea {
  width: 600px;
  padding: 1rem;
  background: #CED9E0;
  color: #182026;
}
/* line 170, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
form input[type="submit"] {
  float: right;
  margin-top: 15px;
  border-radius: 30px;
  border: none;
  margin: 10px 20px;
  color: white;
  background: #ddd;
  padding: 7px 10px;
}

/* line 183, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-posts {
  font-family: "Georgia";
  padding: 30px;
  margin-bottom: 50px;
}
/* line 187, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-posts .ca-posts-item {
  font-size: 20px;
  clear: both;
}
/* line 190, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-posts .ca-posts-item a {
  color: #999;
}
/* line 196, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-posts .ca-posts-item .ca-col {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

/* line 205, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-post-actions {
  clear: both;
  border-top: solid 1px #ddd;
  margin-top: 30px;
  padding: 30px;
  text-align: center;
}

/* line 213, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-items {
  font-size: 20px;
  font-family: "Georgia";
  margin: 3rem;
  color: #aaa;
}
/* line 218, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-items .ca-item {
  margin-bottom: 15px;
}
/* line 220, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-items .ca-item a {
  margin-left: 20px;
}
/* line 224, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-items .ca-title {
  margin-right: 20px;
  letter-spacing: 1px;
  font-family: "Montserrat";
}
/* line 229, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-items .ca-description {
  margin-right: 20px;
  font-family: "Helvetica";
  font-size: 19px;
  margin-top: 10px;
  color: #bbb;
  letter-spacing: .4px;
}
/* line 237, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-items .fa-delete {
  font-size: .8rem;
}
/* line 240, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-items a {
  color: #333;
}
/* line 243, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-items [data-method="delete"] {
  color: #ccc;
}

/* line 248, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-top-nav {
  background: #0078ff;
  box-shadow: 0 0 12px #333;
}

/* line 252, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-items-footer {
  text-align: center;
  margin: 3rem 0 20px;
}

/* line 256, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-show-item {
  padding: 20px 3rem;
}

/* line 259, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-button {
  background: #2c5b90;
  padding: 10px 20px;
  color: #fff;
  display: inline-block;
  border-radius: 32px;
  height: 30px;
  line-height: 30px;
}
/* line 267, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-button:hover {
  background: #888;
}

/* line 271, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-post {
  font-size: 22px;
  font-family: "Georgia";
}
/* line 274, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-post .ca-post-header {
  padding: 3rem 3rem 0;
}
/* line 276, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-post .ca-post-header h2 {
  margin-bottom: 15px;
  color: #ffffff;
  background: #544646;
  padding: 20px;
}
/* line 282, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-post .ca-post-header .ca-post-author {
  color: #999;
  font-size: .8rem;
}
/* line 287, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-post .ca-post-summary {
  font-style: italic;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}
/* line 292, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-post .ca-post-body {
  padding: 2rem 3rem;
  color: #555;
  font-family: "Georgia";
  font-weight: 100;
}
/* line 298, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-post h3 {
  font-size: .8rem;
  padding: 10px;
  background: #f3f3f3;
  color: #888;
  margin: 0;
  display: inline-block;
  border-bottom: dashed 1px #aaa;
  float: right;
  clear: both;
  margin-bottom: 14px;
}

/* line 311, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-logo {
  border-radius: 30px;
  background: #ddd;
  color: #777;
  padding: 3px 15px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

/* line 321, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-center-nav {
  position: absolute;
  left: 50%;
}
/* line 324, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-center-nav a {
  padding: 0 10px;
}
/* line 327, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-center-nav .ca-divider {
  width: 2px;
  background: #999;
}

/* line 332, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-main-buttons {
  padding: 1.5rem 3rem;
  background: #000;
}
/* line 335, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-main-buttons a {
  background: #0078ff;
  border-radius: 10px;
  color: #fff;
  padding: 5px 12px;
  margin-right: 10px;
}
/* line 342, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-main-buttons a.current {
  background: #34d62e;
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
}

/* line 351, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.ca-auth input[type="email"], .ca-auth input[type="password"] {
  display: block;
  max-width: 400px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

/* line 359, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.rte {
  padding: 4rem;
  border: solid 2px #ddd;
  min-height: 78vh;
  font-size: 22px;
  font-family: "Georgia";
}
/* line 365, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.rte:focus {
  box-shadow: none;
  outline: none;
}
/* line 369, /Users/danielnewman/Documents/rails/camillo2/app/assets/stylesheets/application.scss */
.rte p {
  margin-top: 0;
}
