@import "../palette.css.scss";
.ca-item {
  margin-top: 45px;
  img {
    vertical-align: middle;
  }
  .ca-item-nav {
    height: 40px;
    line-height: 40px;
    a {
      margin-right: 20px;
    }
  }
  .nav-icon {
    width: 40px;
  }
  input[type="text"] {
    font-size: 36px;
    border: none;
    border-bottom: dashed 1px #999;
    height: 60px;
    padding: 0 0 15px;
    &:hover {
      box-shadow: none;
    }
    &:focus {
      box-shadow: none;
    }
  }
}