.ca-item {
  margin-top: 45px;
  img {
    vertical-align: middle;
  }
  .ca-item-nav {
    height: 40px;
    line-height: 40px;
    a {
      margin-right: 20px;
    }
  }
  .nav-icon {
    width: 40px;
  }
}