<header class="ca-top-nav">
  <a class="ca-logo" href="/">Camillo</a>
  creativity framework.
  <span class="ca-center-nav">
    <%= link_to "Posts", posts_path %>
    <span class="ca-divider">
    </span>
    <%= link_to "Flow", items_path, class: params[:controller] == "items" ? "current" : "" %>
  </span>
  <div class="absolute right-1 top-1">
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "navbar-right") %>        
    <% else %>
      <%= link_to('Login', new_user_session_path, class: "navbar-right")  %>  
    <% end %>
  </div>
</header>
