<nav class="navbar navbar-default main-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Camillo</a>
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><%= link_to "New", new_post_path %></li>
        <li><%= link_to "List", posts_path %></li>
      </ul>
    </div>
  </div>
</nav>
