<nav class="navbar navbar-default main-nav">
  <div class="container-fluid text-center">
    <h1>
      <a class="logo" href="/">Camillo</a>
    </h1>
    <h6 class="text-center">The Creativity Framework</h6>
  </div>
  <div class="container-fluid text-center main-nav">    
    <%= link_to "Latest", posts_path %> | <%= link_to "About", about_path %> 
  </div>
</nav>
