<div class="ca-main-buttons">
  <label>Capture your:</label>
  <%= link_to "Creative Actions", creative_actions_path, class: params[:controller] == "creative_actions" ? "current" : "" %>
  <%= link_to "Ideas", ideas_path, class: params[:controller] == "ideas" ? "current" : "" %>
  <%= link_to "Goals", goals_path, class: params[:controller] == "goals" ? "current" : "" %>
  <%= link_to "Next Steps", next_steps_path, class: params[:controller] == "next_steps" ? "current" : "" %>
  
</div>
