.ca-posts {
  font-family: "Crimson Text";
  padding: 30px;
  margin-bottom: 50px;
  
  h1 {
    font-size: 24px;
  }
  p {
    margin-bottom: 20px;
  }
  .ca-posts-item {
    font-size: 20px;
    clear: both;
    a {
      color: #999;
    }
  }

}