
<div class="container posts">
  <div class="row">
    <%= link_to "New", new_post_path, class: "new-post-link" %>
  </div>
  
  <% @posts.each do |post| %>
    <div class="post row">
      <div>
        <h2>
          <span class="post-date">
            <%= post.created_at.strftime('%m•%d•%y') %> 
          </span>
          <%= link_to post.title, post_path(post), class: "darkgrey1" %>
          <%= link_to 'X', post_path(post), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "post-delete pull-right" if user_signed_in? && post.user_id == current_user.id%>
        </h2>
      </div>
      <div>
        
      </div>
      <br>
    </div>
  <% end %>

</div>
