<div class="ca-post">
  <%= link_to "Edit", edit_post_path(@post), class: "post-link" %>
  

  <div class=" col-sm-6 col-sm-offset-3 post">
    <div class="text-center post-header">
      <h2 class="text"><%= @post.title %></h2>
      <div class="post-author">
        by Dan Newman
      </div>
    </div>
    <div class="post-summary"><%= raw @post.summary %></div>
    <div class="post-body"><%= raw @post.body %></div>
    
    <a class="all-posts-link" href="/timeline">See All Posts</a>
  </div>
</div>
