
<div class="ca-posts">
  <% @posts.each_with_index do |post, index| %>
    <div class="ca-posts-item">
      <div class="ca-col text-right">
        <%= link_to post.title, post_path(post), class: "ca-posts-item-title" %>
      </div>
      <div class="ca-col text-left">
        <%= post.created_at.strftime('%m•%d•%y') %> 
      </div>
    </div>
  <% end %>
</div>
