.ca-create {
  .ant-form-item {
    margin-bottom: 0px;
  }
}
// .ant-row > div {
//   padding: .1% 2%;
// }
.ant-layout {
  background: #fff !important;
}
.ant-layout-header {
  background: #fff !important;
  padding: 0 27px !important;
  transition: all 100ms linear;
  a {
    margin-right: 2px;
    color: #666;
    border-bottom: solid 1px #444;
    padding-bottom: 2px;
    background: #eee;
    height: 46px;
    line-height: 46px;
    display: block;
    font-size: 1rem;
    text-align: center;
    transition: all 120ms ease-in;
    &:hover {
      transform: scale(1.02);
      
    }
  }
  .selected {
    background: #c7c7c7 !important;
    color: #000 !important;
  }
  &.dimmed {
    
    a {
      color: #ccc;
      background: #fff;
      // transform: scale(.8);
    }
    .selected {
      opacity: 1;
      transform: scale(1);
    }
    
  }
}
.ant-row {
  padding: 1px 25px !important;
  &.ant-form-item {
    padding: 0 !important;
  }
}
.ant-btn-primary {
  background: #888 !important;
}
.ant-btn-lrg {
  font-size: 14px;
  border-radius: 0;
  height: 60px;
  padding: 0;
  width: 100px;
  border-left: none;
}
.ant-tag {
  border: none !important;
  size: .9em !important;
  color: #999 !important;
  
}
.ant-modal {
  textarea {
    min-height: 200px !important;
    padding: 15px;
  }
}
.ant-modal-header {
  background: #0d2b46 !important;
}
.ant-modal-title {
  text-transform: capitalize !important;
  font-size: 1.2rem !important;
  color: #ccc;
}
.ant-form input[type="text"], form input[type="url"], .ant-form input[type="number"] {
  padding: 30px 15px !important;
  background: #f9f9f9;
  box-shadow: inset 0 0 3px #ddd;
}
.ant-form textarea {
  border-radius: 0 !important;
  font-size: 1.3rem;
  &:focus {
    border: none !important;
    // box-shadow: none !important;
  }
  &:hover {
    border: none !important;
    // box-shadow: none !important;
  }
}
.ant-form .ant-select-selection {
  border-radius: 0 !important;
}


