
// .ant-row > div {
//   padding: .1% 2%;
// }
.ant-layout {
  background: #fff !important;
  margin-top: 10px;
  font-size: 1.3rem !important;
}
.ant-layout-header {
  background: #fff !important;
  font-size: 1.3rem !important;
  padding: 0 !important;
}
.ant-row {
  padding: 1px 25px !important;
  &.ant-form-item {
    padding: 0 !important;
  }
}
.ant-btn {
  // border: none !important;
  // background: #eee !important;
}
.ant-btn-primary {
  background: #888 !important;
}

.ant-btn-lrg {
  font-size: 14px;
  border-radius: 0;
  height: 60px;
  padding: 0;
  width: 100px;
  border-left: none;
}
.ant-tag {
  border: none !important;
  size: .9em !important;
  color: #999 !important;
  
}
.ant-modal {
  textarea {
    min-height: 200px !important;
    padding: 15px;
  }
}
.ant-modal-header {
  background: #0d2b46 !important;
}
.ant-modal-title {
  text-transform: capitalize !important;
  font-size: 1.2rem !important;
  color: #ccc;
}
.ant-form input[type="text"], form input[type="url"], .ant-form input[type="number"] {
  padding: 29px 15px !important;
  background: #f9f9f9;
  box-shadow: inset 0 0 1px #a5a5a5;
  font-weight: normal;
  &:focus {
    background: #fff;
    border-bottom: solid 2px #eee;
    border-radius: 0;
  }
}
.ant-form textarea {
  border-radius: 0 !important;
  font-size: 1.3rem;
  &:focus {
    border: none !important;
    border-bottom: solid 1px #ddd;
    // box-shadow: none !important;
  }
  &:hover {
    border: none !important;
    // box-shadow: none !important;
  }
}
.ant-form .ant-select-selection {
  border-radius: 0 !important;
}


