.ca-create {
  .ant-form-item {
    margin-bottom: 10px;
  }
}
.ant-row > div {
  padding: .1% 2%;
}
.ant-layout {
  background: #fff !important;
}
.ant-layout-header {
  background: #fff !important;
}