/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require medium-editor/medium-editor
 *= require medium-editor/themes/flat
 *= require_self
 */

/* app specific stuff */
// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "bootstrap/theme";
// @import "summernote";

//= @import "ant-theme" /* my css customizations made on top of antd css */
//= @import "animatons"

$sans: 'Montserrat'; // Bungee Shade
$serif: 'Crimson Text';

$ca-pad: 3rem;
//Bungee+Shade|Unica+One|Arimo|Bree+Serif|Passion+One|Exo+2:500,600|Crimson+Text

$darkgrey1: #182026;
$darkgrey2: #202B33;
$darkgrey3: #293742;

$lightgrey1: #CED9E0;
$lightgrey2: #E1E8ED;
$lightgrey3: #F5F8FA;
$linkGrey: #98a1a7;
$panelGrey: #eee;

$textColor: #666;

$blue: #106BA3;
$steel: rgb(108, 159, 161);
$beige: rgb(255, 227, 159);
$orange: rgb(216, 135, 66);
$red: rgb(158, 43, 14);

.steel { color: $steel; }
.beige { color: $beige; }
.blue { color: $blue; }
.red { color: $red; }

.darkgrey1 { color: $darkgrey1; }
.darkgrey2 { color: $darkgrey2; }
.darkgrey3 { color: $darkgrey3; }

.lightgrey1 { color: $lightgrey1; }
.lightgrey2 { color: $lightgrey2; }
.lightgrey3 { color: $lightgrey3; }

.hide {
  display: none;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
a {
  text-decoration: none;
  color: #aaa;
  font-family: $sans, serif;
}

body {
  font-size: 16px;
  background: #caceca;
}

table {
  margin: $ca-pad;
  background: #ddd;
}
th, td {
  padding: 10px;
  background: $lightgrey3;
}
h1 {
  padding: 0 2rem;
  font-size: 26px;
}
h2 {
  font-family: $sans;
  color: #aaa;
  margin: 0;
}
h5 {
  color: #999;
}
header {
  padding: 10px;
}
summary {
  background: #f3f3f3;
  color: #aaa;
  padding: 15px 3rem;
  // margin: 10px 0;
}
label {
  color: #777;
  margin-right: 20px;
}
article {
  // box-shadow: 0 0 10px #ddd;
  background: #fff;
  border: solid 5px #f5f5f5;
  padding: 0;
  margin: 60px 0;
  min-height: 80vh;
}
blockquote {
  background: #f5f5f5;
  padding: 1rem $ca-pad;
  color: #636363;
  margin: 0;
  line-height: 162%;
  margin: 20px 68px;
  font-family: sans-serif;
  clear: both;
  font-weight: 100;
}
b, strong {
  font-weight: bold;
}
form {
  color: #333;
  margin: 0px $ca-pad 60px;
  label {
    border-bottom: solid 1px #aaa;
    display: block;
    margin: 10px 0;
    padding-bottom: 7px;
  }
  input[type="text"], input[type="url"], input[type="number"] {
    padding: 15px;
    border: none;
    border-radius: .1rem;
    width: 100%;
    background: #eee;
    color: #444;
    font-size: 1.5rem;
    font-weight: bold;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  textarea {
    width: 600px;
    padding: 1rem;
    background: #eee;
    color: $darkgrey1;
    border-bottom: solid 1px #999;
    &:focus {
      outline: none;
    }
  }

  input[type="submit"] {
    float: right;
    margin-top: 15px;
    border-radius: 30px;
    border: none;
    margin: 10px 20px;
    color: white;
    background: #ddd;
    padding: 7px 10px;
  }
}

// MOVE ELSEWHERE
.ca-posts {
  font-family: $serif;
  padding: 30px;
  margin-bottom: 50px;
  .ca-posts-item {
    font-size: 20px;
    clear: both;
    a {
      color: #999;
    }
    .ca-posts-item-title {
      
    }
    .ca-col {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 10px;
    }
  }

}
.ca-post-actions {
  clear: both;
  border-top: solid 1px #ddd;
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  
}
.ca-item-title {
  font-family: $serif, serif;
  color: #444;
  font-size: 1.5rem;
}
.ca-item-time {
  font-size: .8rem;
  color: #999;
}
.ca-item-type {
  font-size: .9rem;
  color: #777;
}
.ca-create-button {
  height: 60px;
  border-radius: 0 8px 8px 0 !important;
  background: #f5f5f5 !important;
  border: none !important;
}
.ca-feed {
  font-size: 1.2rem;
  margin-top: 15px;
  .ca-item-delete {
    cursor: pointer;
    float: right;
    margin-right: 25px;
  }
}
.ca-items {
  font-size: 20px;
  font-family: $serif;
  margin: $ca-pad;
  color: #aaa;
  .ca-item {
    margin-bottom: 15px;
    a {
      margin-left: 20px;
    }
  }
  .ca-title {
    margin-right: 20px;
    letter-spacing: 1px;
    font-family: $sans;
  }
  .ca-description {
    margin-right: 20px;
    font-family: $sans;
    font-size: 19px;
    margin-top: 10px;
    color: #bbb;
    letter-spacing: .4px;
  }
  .fa-delete {
    font-size: .8rem;
  }
  a {
    color: #333;
  }
  [data-method = "delete"] {
    color: #ccc;
    // font-family: $sans;
  }
}
.ca-layout-content {
  width: 1000px;
  margin: 0 auto;
}
.ca-top-nav {
  background: #3a3a3a;
  box-shadow: 0 0 12px #333;
  margin: 0 0 .5rem;
  padding: 8px 10px;
  color: #888;
}
.ca-items-footer {
  text-align: center;
  margin: $ca-pad 0 20px;
}
.ca-show-item {
  padding: 20px $ca-pad;
}
.ca-button {
  background: #2c5b90;
  padding: 10px 20px;
  color: #fff;
  display: inline-block;
  border-radius: 32px;
  height: 30px;
  line-height: 30px;
  &:hover {
    background: #888;
  }
}
.ca-post {
  font-size: 22px;
  font-family: $serif;
  .ca-post-header {
    padding: $ca-pad $ca-pad 0;
    h2 {
      margin-bottom: 15px;
      color: #ffffff;
      background: #544646;
      padding: 20px;
    }
    .ca-post-author {
      color: #999;
      font-size: .8rem;
    }
  }
  .ca-post-summary {
    font-style: italic;
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
  .ca-post-body {
    padding: 2rem $ca-pad;
    color: #555;
    font-family: $serif;
    font-weight: 100;
  }
  h3 {
    font-size: .8rem;
    padding: 10px;
    background: #f3f3f3;
    color: #888;
    margin: 0;
    display: inline-block;
    border-bottom: dashed 1px #aaa;
    float: right;
    clear: both;
    margin-bottom: 14px;
  }
}
.ca-logo {
  border-radius: 30px;
  background: #afa2a2;
  color: #6b0101;
  padding: 3px 15px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}
.ca-center-nav {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  a {
    padding: 1px 0px;
    border-bottom: dotted 1px #adadad;
    margin: 0 10px;
    color: #ddd;
  }
  .ca-divider {
    width: 2px;
    background: #999;
  }
}
.ca-main-buttons {
  padding: 1.5rem $ca-pad;
  background: #000;
  a {
    background: #0078ff;
    border-radius: 10px;
    color: #fff;
    padding: 5px 12px;
    margin-right: 10px;
  }
  a.current {
    background: #34d62e;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
  }
  
}
.ca-auth {
  input[type="email"], input[type="password"] {
    display: block;
    max-width: 400px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
  }
}
.rte {
  padding: 4rem;
  border: solid 2px #ddd;
  min-height: 78vh;
  font-size: 22px;
  font-family: $serif;
  &:focus {
    box-shadow: none;
    outline: none;
  }
  p {
    margin-top: 0;
  }
}
