/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require medium-editor/medium-editor
 *= require medium-editor/themes/flat
 *= require_self
 */

/* app specific stuff */
// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "bootstrap/theme";
// @import "summernote";

$sans: 'Montserrat'; // Bungee Shade
$sans2: 'Helvetica'; // 'Unica One';
$sans3: 'Arimo';
$textSans: 'Montserrat';
$titleSans: 'Passion One';
$serif: 'Crimson Text';

//Bungee+Shade|Unica+One|Arimo|Bree+Serif|Passion+One|Exo+2:500,600|Crimson+Text

$darkgrey1: #182026;
$darkgrey2: #202B33;
$darkgrey3: #293742;

$lightgrey1: #CED9E0;
$lightgrey2: #E1E8ED;
$lightgrey3: #F5F8FA;
$linkGrey: #98a1a7;
$panelGrey: #eee;

$textColor: #666;

$blue: #106BA3;
$steel: rgb(108, 159, 161);
$beige: rgb(255, 227, 159);
$orange: rgb(216, 135, 66);
$red: rgb(158, 43, 14);

.steel { color: $steel; }
.beige { color: $beige; }
.blue { color: $blue; }
.red { color: $red; }

.darkgrey1 { color: $darkgrey1; }
.darkgrey2 { color: $darkgrey2; }
.darkgrey3 { color: $darkgrey3; }

.lightgrey1 { color: $lightgrey1; }
.lightgrey2 { color: $lightgrey2; }
.lightgrey3 { color: $lightgrey3; }


a {
  text-decoration: none;
  color: $lightgrey1;
}

body {
  font-size: 16px;
  // margin-top: 70px;
}

table {
  width: 100%;
  padding: 5rem;
  background: #ddd;
}
th, td {
  padding: 10px;
  background: $lightgrey3;
}
h1 {
  display: inline-block;
  float: left;
  padding: 2rem;
  background: #ccc;
}
h2 {
  font-family: $sans;
  color: #ccc;
  margin: 0;
}
form {
  // background: #777;
  color: #333;
  padding: 2rem;
  width: 960px;
  .form-group {
    margin: 10px;
    // text-align: right;
    label {
      // display: inline-block;
      width: 5rem;
      margin-right: 1rem;
      display: none;
    }
    input[type="text"] {
      padding: 1rem 1.5rem;
      border: none;
      border-radius: .1rem;
      width: 500px;
      background: #eee;
      color: #444;
      width: 100%;
      font-size: 1.3rem;
      
    }
    textarea {
      width: 100%;
      padding: 1rem;
      background: $lightgrey1;
      color: $darkgrey1;
    }
  }
  input[type="submit"] {
    border-radius: .5rem;
    background: $darkgrey2;
    color: $lightgrey1;
    border: none;
    padding: 1rem 2rem;
    float: right;
  }
}

// MOVE ELSEWHERE
.ca-items {
  font-size: 30px;
  font-family: $serif;
  color: #aaa;
  .ca-item {
    margin-bottom: 15px;
  }
  .ca-title {
    margin-right: 20px;
    letter-spacing: 1px;
  }
  .ca-description {
    margin-right: 20px;
    font-family: $sans2;
    font-size: 19px;
    margin-top: 10px;
    color: #bbb;
    letter-spacing: .4px;
  }
  .fa-delete {
    font-size: .8rem;
  }
  a {
    color: #333;
  }
  [data-method = "delete"] {
    color: #ccc;
    // font-family: $sans;
  }
}
.ca-items-footer {
  margin-top: 20px;
}
.ca-button {
  background: #ddd;
  padding: 30px;
  color: #333;
  display: block;
}
.ca-post {
  font-size: 30px;
  font-family: $serif;
}
.ca-logo {
  border-radius: 30px;
  width: 35px;
  display: inline-block;
  text-align: center;
}
.rte {
  padding: 30px;
  border: solid 2px #ddd;
  min-height: 300px;
  &:focus {
    box-shadow: none;
    outline: none;
  }
  p {
    margin-top: 0;
  }
}
