.rdw-colorpicker-modal {
  width: 210px !important;
  height: 200px !important;
}
.rdw-embedded-modal {
  width: 255px !important;
}
.rdw-editor-toolbar {
  font-family: "Verdana", sans-serif !important;
  font-size: .85rem !important;
}
.rdw-embedded-modal-header {
  font-size: .8rem !important;
}