// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application";

$borderColor: "#ddd";
.posts-layout {
  position: relative;
  height: 100vh;
  .elements-nav {
    position: absolute;
    right: 0;
    text-align: center;
    top: 130px;
    width: 130px;
    z-index: 1;
    .elem {
      background: #ddf1ff;
      display: block;
      margin-bottom: 2px;
      padding: 10px;
      border-radius: 10px 0 0 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 11px;
    }
  }
}

.posts {  
  .element-sidebar {
    padding: 15px;
    // background: #000000;
    height: 100vh;
    margin-top: 0px;

    .element-name {
      font-family: $sans3;
      font-size: 15px;
      letter-spacing: 1px;
      text-align: center;
      display: block;
      text-transform: uppercase;
      
    }
  }
  .post {
    margin-top: 15px;
    h2 {
      font-family: $sans2;
      font-size: 44px;
      margin-top: 0;
      padding-top: 0;
      color: $blue;
    }
    p {
      font-size: 17px;
      color: #666;
      font-family: $textSans;
      line-height: 21px;
    }
    .post-summary {
      border-bottom: dashed 1px #888;
      border-top: dashed 1px #888;
      color: #999;
      font-size: 18px;
      margin-bottom: 30px;
      padding: 30px;
    }
    .post-body {
      margin-bottom: 30px;
    }
    .post-author {
      color: $lightgrey1;
      text-transform: uppercase;
      font-size: 12px;
    }
    .post-header {
      margin-bottom: 25px;
    }
    .all-posts-link {
      text-transform: uppercase;
    }
  }
  
  .post-date {
    color: $lightgrey1;
    font-size: 14px;
    display: block;
    width: 120px;
    margin-bottom: 10px;
  }
  .post-delete {
    font-size: 12px;
    color: $lightgrey1;
  }
  .post-link {
    background: $blue;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 10px;
    font-size: 11px;
    position: absolute;
    right: 0;
    bottom: 50%;
  }
  h1 {
    color: #444;
    font-size: 20px;
  }
  .post-editor {
    .elements-edit {
      label.control-label {
        display: none;
      }
      .radio {
        display: inline-block;
        margin: 10px;
        border-radius: 2px;
        padding: 5px 10px;
        background: $lightgrey3;
        color: #999;
      }
      
    }
    .note-editor {
      .note-editing-area {
        font-size: 17px;
        border: solid 1px $lightgrey2;
        padding: 20px;
        background: #fff;
        border-radius: 20px;
        color: $textColor;
        font-family: $textSans;
        summary {
          background: #ddd;
        }
      }
      .note-editable {
        min-height: 400px;
      }  
    }
    
    .form-control.title {
      font-size: 24px;
      padding: 15px 30px;
      height: 64px;
      border-radius: 0;
      border: solid 1px #eee;
      background: #fff;
      border-radius: 20px;
      color: $blue;
      font-family: $titleSans;
      &:focus {
        background: #fff;
        
      }
    }
  }
  
  textarea {
    min-height: 170px;
    font-size: 18px;
    font-family: $sans3;
    background: $panelGrey;
    padding: 30px;
  }
  #summernote {
    font-size: 30px;
  }
  .btn-default {
    background: #f5f5f5;
    color: #656565;
    border-radius: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
  }
  .post-actions {
    border-top: solit 1px #999;
    margin-top: 10px;
    padding-top: 10px;
  }
}
