// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  h1 {
    color: #444;
    font-size: 20px;
  }
  .post-editor {

    .note-editor {
      .note-editing-area {
        font-size: 24px;
        border: solid 1px #ddd;
        padding: 20px;
        
        background: #fff;
      }
      .note-editable {
        min-height: 400px;
      }  
    }
    
    .form-control.title {
      font-size: 34px;
      padding: 15px;
      height: 64px;
    }
  }
  
  textarea {
    min-height: 500px;
    font-size: 30px;
  }
  #summernote {
    font-size: 30px;
  }
}
